{% from 'bootstrap/form.html' import render_form %}
{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}
{% block content %}
  <main class="container mx-auto login">
    <h1>Iniciar sesión</h1>
    {% with messages = get_flashed_messages(category_filter=["login_error"]) %}
    <br>
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
    {% endwith %}
    {{render_form(form, action=url_for('auth_routes.auth_authenticate'), method="POST")}}
  </main>
{% endblock %}
