{% extends "private_app_layout.html" %}
{% block title %}Denuncias{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

{% set argtitle = request.args.title %}
{% set argstate = request.args.state %}

  <div class="container mx-auto py-4">
    
    <!-- TITULO -->
    <div class="d-flex align-items-center mb-3">
      <a href="{{url_for('home.index')}}" class="text-muted p-1 mr-3" style="cursor: pointer">
        <i class="fas fa-arrow-left fa-lg"></i>
      </a>
      <h1 class="font-weight-bold">Denuncias</h1>
    </div>

    {% with messages = get_flashed_messages(category_filter=["complaint_index", "complaint_show", "complaint_destroy", "follow_up_delete"]) %}
      <br>
      {% for message in messages %}
          <p>{{message}}</p>
      {% endfor %}
    {% endwith %}

    <!-- BUTTONS -->
    <div class="w-100 row justify-content-center">
      <div class="col d-flex justify-content-sm-center justify-content-md-start mb-sm-3 mb-md-0">
        <a class="btn btn-primary button-gradient" role="button" href="{{url_for('complaint.new')}}">Nueva</a>
      </div>
      <div class="col-sm-12 col-md-6 d-flex justify-content-sm-center justify-content-md-end">
        <form method="GET" action="{{url_for('complaint.index', page_number=complaints.page)}}" class="d-flex justify-content-end align-content-center">
  
          <input type="text" name="title" placeholder="Buscar por titulo..." class="mx-1 pl-2" 
          {% if argtitle %} 
            value="{{argtitle}}"
          {% endif %}>
          
          <select class="rounded-sm mx-1" name="state" aria-label="seleccionador estado">
            <option value="all" {{"selected" if argstate == "all"}}>Todos</option>
            <option value="En Curso" {{"selected" if argstate == "En Curso"}}>En curso</option>
            <option value="Resuelta" {{"selected" if argstate == "Resuelta"}}>Resuelta</option>
            <option value="Cerrada" {{"selected" if argstate == "Cerrada"}}>Cerrada</option>
          </select>

          <label for="fecha_inicio">Start date:</label>
          <input type="date" id="fecha_inicio" name="init_date" min="1900-01-01" max="2500-12-31">
          <label for="fecha_fin">Start date:</label>
          <input type="date" id="fecha_fin" name="end_date" min="1900-01-01" max="2500-12-31">

          <button class="btn btn-dark btn-sm" aria-label="button-search"><i class="fas fa-search fa-sm"></i></button>
        </form>
      </div>
    </div>

    <br />

    <!-- LIST -->
    <table class="table">
      <thead>
          <tr>
              <th scope="col" class="text-center">Titulo</th>
              <th scope="col" class="text-center">Categoria</th>
              <th scope="col" class="text-center">Fecha de creación</th>
              <th scope="col" class="text-center">Estado</th>
              <th scope="col" class="text-center">Email denunciante</th>
              <th scope="col" class="text-center">Acciones</th>
          </tr>
      </thead>

      <tbody>
        {% for complaint in complaints.items %}
        <tr>
            <td class="text-center">
                {{complaint.title}}
            </td>
            <td class="text-center">{{complaint.category.name}}</td>
            <td class="text-center">{{complaint.created_at.day}}-{{complaint.created_at.month}}-{{complaint.created_at.year}}</td>
            <td class="text-center">{{complaint.state}}</td>
            <td class="text-center">{{complaint.creator_email}}</td>
            <td class="text-center d-flex justify-content-center">
              {% if helper_has_permission("complaint_show") %}
                <form action="{{url_for('complaint.show')}}" method="post" class="d-inline">
                  <input name="id_complaint" type="hidden" value="{{complaint.id}}">
                  <button type="submit" class="btn btn-primary button-gradient mx-1">Ver</button>
                </form>
              {% endif %}
              {% if helper_has_permission("complaint_edit") and not complaint_is_finished(complaint) and is_admin_or_is_my_complaint(complaint) %}
                <form action="{{url_for('complaint.edit')}}" method="post" class="d-inline">
                  <input name="id_complaint" type="hidden" value="{{complaint.id}}">
                  <button type="submit" class="btn btn-primary button-gradient mx-1">Editar</button>
                </form>
              {% endif %}
              {% if helper_has_permission("complaint_destroy") and not complaint_is_finished(complaint) %}
                <form action="{{url_for('complaint.destroy')}}" method="post" class="d-inline">
                  <input name="id_complaint" type="hidden" value="{{complaint.id}}">
                  <button type="submit" onclick="return confirm('¿Está seguro que desea borrar esta denuncia?')" class="btn btn-primary button-gradient mx-1">Eliminar</button>
                </form>
              {% endif %}
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if not found_complaints %}
      <br>
      {% with messages = get_flashed_messages(category_filter=["complaint_index_search"]) %}
          {% for message in messages %}
              <p class="text-center">{{message}}</p>
          {% endfor %}
      {% endwith %}
    {% endif %}

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if complaints.has_prev %}
          <li class="page-item"></li>
          <a class="page-link" href="{{url_for('complaint.index', page_number=complaints.prev_num)}}?{{request.query_string.decode()}}" tabindex="-1">Anterior</a>
        {% else %}
          <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Anterior</a>
        {% endif %}
        </li>
          {% for page in complaints.iter_pages() %}
              {% if page %}
                <li class="page-item"><a class="page-link" href="{{url_for('complaint.index', page_number=page)}}?{{request.query_string.decode()}}">{{ page }}</a></li>
              {% endif %}
          {% endfor %}
        {% if complaints.has_next %}
          <li class="page-item"></li>
          <a class="page-link" href="{{url_for('complaint.index', page_number=complaints.next_num)}}?{{request.query_string.decode()}}">Siguiente</a>
        {% else %}
          <li class="page-item disabled">
          <a class="page-link" href="#">Siguiente</a>
        {% endif %}
      </ul>
    </nav>

</div>
{% endblock %}