{% from 'bootstrap/form.html' import render_form %}

{% extends "private_app_layout.html" %} 

{% block title %} InundaSafe | Ver denuncia {% endblock %} 

{% block head %} 

  {{ super() }}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
  <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">

  <script type="module" src="{{url_for('static', filename='js/complaint/complaint-show-readonly-map.js')}}"></script>
  
{% endblock %} 

{% block content %}
<br>
<div class="container mx-auto py-4">
<div class="d-flex align-items-center">
    <a href="{{url_for('complaint.index', page_number=1)}}" class="text-muted p-1 mr-3" style="cursor: pointer">
      <i class="fas fa-arrow-left fa-lg"></i>
    </a>
    <h1 class="font-weight-bold">Ver información de la denuncia</h1>
</div>
<br>

<table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">Título</th>
        <td>{{complaint.title}}</td>
      </tr>
      <tr>
        <th scope="row">Categoría</th>
        <td>{{complaint_category.name}}</td>
      </tr>
      <tr>
        <th scope="row">Fecha de creación</th>
        <td>{{complaint.created_at}}</td>
      </tr>
      <tr>
        <th scope="row">Descripción</th>
        <td>{{complaint.description}}</td>
      </tr>
      <tr>
        <th scope="row">Estado</th>
        <td>{{complaint.state}}</td>
      </tr>
      <tr>
        <th scope="row">Asignado a</th>
        <td>
          {% if complaint_assigned_to.username != Null %}
            {{complaint_assigned_to.username}}
          {% else %}
            Sin usuario asignado
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">Email denunciante</th>
        <td>{{complaint.creator_email}}</td>
      </tr>
    </tbody>
  </table>

  <input type="hidden" id="coordinate_lat" value={{complaint.coordinate.latitude}}>
  <input type="hidden" id="coordinate_lng" value={{complaint.coordinate.longitude}}>
  <div class="map-container">
    <div id="mapid" style="height:400px"></div>
  </div>
  <br>
  <h1 class="font-weight-bold">Seguimientos realizados a la denuncia {{complaint.title}}</h1>
  <br>
  <table class="table table-striped">
    <tbody>
      <div class="w-100 row">
        <form action="{{url_for('follow_up.new')}}" method="post" class="d-inline">
          <input name="id_complaint" type="hidden" value="{{complaint.id}}">
          <button type="submit" class="btn btn-primary button-gradient mx-1">Nuevo</button>
        </form>
      </div>
      <br>
      {% if complaint.follow_ups %}
        <thead>
            <tr>
                <th scope="col" class="text-center">Descripción</th>
                <th scope="col" class="text-center">Autor</th>
                <th scope="col" class="text-center">Fecha de creación</th>
                <th scope="col" class="text-center">Acciones</th>
            </tr>
        </thead>      
      {% set i = namespace(value=0) %}
        {% for follow_up in complaint.follow_ups %}
        <tr>           
          <td class="text-center">{{follow_up.description}}</td>
          <td class="text-center">{{lista[i.value]}}</td>
          <td class="text-center">{{follow_up.created_at}}</td>
          <td class="text-center d-flex justify-content-center">
            {% if helper_has_permission("follow_up_edit") %}
              <form action="{{url_for('follow_up.edit')}}" method="post" class="d-inline">
                <input name="id_follow_up" type="hidden" value="{{follow_up.id}}">
                <button type="submit" class="btn btn-primary button-gradient mx-1">Editar</button>
              </form>
            {% endif %}
            {% if helper_has_permission("follow_up_destroy") %}
              <form action="{{url_for('follow_up.destroy')}}" method="post" class="d-inline">
                <input name="id_follow_up" type="hidden" value="{{follow_up.id}}">
                <button type="submit" onclick="return confirm('¿Está seguro que desea borrar este seguimiento?')" class="btn btn-primary button-gradient mx-1">Eliminar</button>
              </form>
            {% endif %}
          </td>
        </tr>
        {% set i.value = i.value + 1 %}
        {% endfor %}
       {% else %}
          <h5>*La denuncia {{complaint.title}} no tiene seguimientos aún, cree uno*</h5>
       {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}