.login {
  max-width: 600px;
}

.login-cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.096);
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  box-shadow: 2px 0px 50px rgba(105, 105, 105, 0.08);
  text-decoration: none !important;
  color: rgb(49, 49, 49);
}

.login-card:hover {
  background-color: rgba(212, 212, 212, 0.144);
  color: rgb(15, 15, 15);
}

.login-card p {
  text-align: center;
  margin-bottom: 0;
}
