{% from 'bootstrap/form.html' import render_form %}
{% extends "private_app_layout.html" %}
{% block title %}Seguimientos{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container mx-auto py-4">
  <!-- TITULO -->
  <div class="d-flex align-items-center mb-3">
    
      <form action="{{url_for('complaint.show', page_number=1)}}" method="post" class="d-inline">
        <input name="id_complaint" type="hidden" value="{{id_complaint}}">
        <button type="submit" class="text-muted mr-3 p-0 border-0 bg-transparent" style="cursor: pointer"><i class="fas fa-arrow-left fa-lg"></i></button>
      </form>      
  
    <h1 class="font-weight-bold">Realizar un seguimiento</h1>
  </div>
  {% with messages = get_flashed_messages(category_filter=["follow_up_new"]) %}
    <br>
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
  {% endwith %}

  <h4>Autor del seguimiento: {{ user.username }}</h4>

  {{render_form(form, action=url_for('follow_up.create'), method="POST", id='follow_up_form')}}

  <br><i>* Campos obligatorios</i><br>

</div>

{% endblock %}
