{% extends "private_app_layout.html" %}
{% block title %}Editar{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Editar datos de {{user.first_name}}:</h1>
  <form action="{{ url_for('user.create') }}" method="POST">
    <p>
      <label>Nombre:<label></br>
      <input name="first_name" value={{user.first_name}} placeholder="Ingrese un nombre"/>
    </p>
    <p>
      <label>Apellido:<label></br>
      <input name="last_name" value={{user.last_name}} placeholder="Ingrese un apellido"/>
    </p>
    <p>
      <label>Nombre de usuario:<label></br>
      <input name="username" value={{user.username}} placeholder="Ingrese un nombre de usuario"/>
    </p>
    <p>
      <label>Email:<label></br>
      <input name="email" value={{user.email}} placeholder="Ingrese un email"/>
    </p>
    <p>
      <label>Contraseña:<label></br>
      <input type="password" name="password" value={{user.password}} placeholder="Ingrese una contraseña"/>
    </p>
    <p>
      <label>Roles:<label></br>
      <label>  
      <input name="rol" type="checkbox" value="rol_administrador"   {{ "checked" if helper_has_role(user.roles, "rol_administrador") }}/>Administrador
      </label>
      <label>
      <input name="rol" type="checkbox" value="rol_operador"  {{"checked" if helper_has_role(user.roles, "rol_operador") }}/>Operador
      </label>
    </p>
    <p>
      <label>Estado:<label></br>
      <label>
        <input name="state" type="radio" value="activo" {{"checked" if user.active == 1}}/>Activo
      </label>
      <label>
        <input name="state" type="radio" value="bloqueado" {{"checked" if user.active == 0}}/>Bloqueado
      </label>
    </p>
    
    <p>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
    </p>
  </form>

  <a href="{{url_for('home.index')}}" class="link">Volver</a>      
  <a href="#" class="link">Nuevo</a>     
{% endblock %}


