{% extends "private_app_layout.html" %}
{% block title %}Perfil{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %} {% if messages %}
  {% for message in messages %}
  {{ message }}
  {% endfor %}
{% endif %} {% endwith %} 
<div class="container mx-auto py-4">
  <!-- TITULO -->
  <div class="d-flex align-items-center mb-3">
    <a href="{{url_for('home.index')}}" class="text-muted p-1 mr-3" style="cursor: pointer">
      <i class="fas fa-arrow-left fa-lg"></i>
    </a>
    <h1 class="font-weight-bold">Mi perfil:</h1>
  </div>
  <form action="{{ url_for('user.update_my_profile') }}" method="POST">
    <p>
      <label>Nombre de usuario:<label></br>
      <p>{{user.username}}</p>
    </p>
    <p>
      <label>Nombre:<label></br>
      <input name="first_name" value={{user.first_name}} placeholder="Ingrese un nombre"/>
    </p>
    <p>
      <label>Apellido:<label></br>
      <input name="last_name" value={{user.last_name}} placeholder="Ingrese un apellido"/>
    </p>
    <p>
      <label>Email:<label></br>
      <input name="email" value={{user.email}} placeholder="Ingrese un email"/>
    </p>
    <p>
      <label>Contraseña:<label></br>
      <input type="password" name="password" value={{user.password}} placeholder="Ingrese una contraseña"/>
    </p>
    {% if helper_has_role(user.roles, "rol_administrador") %}                
        <p>
            <label>Roles:<label></br>
            <label>  
            <input name="rol" type="checkbox" value="rol_administrador" onclick="confirm_uncheck_admin(event)" {{ "checked" if helper_has_role(user.roles, "rol_administrador") }}/>Administrador
            </label>
            <label>
            <input name="rol" type="checkbox" value="rol_operador"  {{"checked" if helper_has_role(user.roles, "rol_operador") }}/>Operador
            </label>
        </p>
        <p>
            <label>Estado:<label></br>
            <label>
                <input name="state" type="radio" value="activo" {{"checked" if user.active == 1}}/>Activo
            </label>
            <label>
                <input name="state" type="radio" value="bloqueado" onclick="confirm_lock(event)" {{"checked" if user.active == 0}}/>Bloqueado
            </label>
        </p>
    {% endif %}
    
    <p>
      <input type="submit" value="Editar">
    </p>
  </form>

</div>
  <script>
    function confirm_uncheck_admin(e)
    {
        if(!confirm("¿Está seguro que desea dejar de tener rol de administrador?")) {
            e.preventDefault();
        }
    }
    </script>

  <script>
    function confirm_lock(e)
    {
        if(!confirm("¿Está seguro que desea pasar a estado 'bloqueado'?")) {
            e.preventDefault();
        }
    }
    </script>  

{% endblock %}


