{% from 'bootstrap/form.html' import render_form %}
{% extends "private_app_layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container mx-auto py-4">
  <!-- TITULO -->
  <div class="d-flex align-items-center mb-3">
    <a href="{{url_for('user.index', page_number=1)}}" class="text-muted p-1 mr-3" style="cursor: pointer">
      <i class="fas fa-arrow-left fa-lg"></i>
    </a>
    <h1 class="font-weight-bold">Crear un usuario</h1>
  </div>
  {% with messages = get_flashed_messages(category_filter=["user_create"]) %}
    <br>
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
  {% endwith %}

  {{render_form(form, action=url_for('user.create'), method="POST")}}
  
  <br><i>* Campos obligatorios</i>
</div>

<script>
  function validate_roles(e) {

    // Chequeo del front que no esten vacios los Roles.
    // Si hay alguno vacio convierto el Input role_label (input hidden que actua de label "Roles(*)") en un parrafo con clase danger.

    let adminCheckbox = document.getElementById("rol_administrador")
    let operatorCheckbox = document.getElementById("rol_operador")

    if (!adminCheckbox.checked && !operatorCheckbox.checked) { 
        e.preventDefault()
        parragraph = document.createElement("p")
        parragraph.innerHTML = "Seleccione al menos un rol"
        parragraph.className += "text-danger"
        rol_label.replaceWith(parragraph)
    }
}
</script>
{% endblock %}
