{% from 'bootstrap/form.html' import render_form %}

{% extends "private_app_layout.html" %} 

{% block title %} InundaSafe | Edición recorrido de evacuación {% endblock %} 

{% block head %} 

  {{ super() }}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
  <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">

	<script type="module" src="{{url_for('static', filename='js/evacuation_route/evacuation-route-new-edit-map.js')}}"></script>
  
{% endblock %} 

{% block content %}
<br>
<div class="container mx-auto py-4">
<div class="d-flex align-items-center">
    <a href="{{url_for('evacuation_route.index', page_number=1)}}" class="text-muted p-1 mr-3" style="cursor: pointer">
      <i class="fas fa-arrow-left fa-lg"></i>
    </a>
    <h1 class="font-weight-bold">Modificación de recorrido de evacuación</h1>
  </div>

{% with messages = get_flashed_messages(category_filter=["evacuation_route_update"]) %}
<br>
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}

{% endwith %}

{{ render_form(form, method='POST', action=url_for('evacuation_route.update'), id='evacuation_route_form') }}

<br>

<p>* Marque los puntos que conforman el recorrido de evacuación</p>

<input id="coordinates" type="hidden" value="{{evacuation_route.coordinates}}">

<div class="map-container">
  <div id="mapid" style="height:400px"></div>
</div>

<br>
<i>* Campos obligatorios</i>

</div>
{% endblock %}