
{% from 'bootstrap/form.html' import render_form %}

{% extends "private_app_layout.html" %} 

{% block title %} InundaSafe | Listado de puntos de recorridos de evacuación {% endblock %} 

{% block head %} 

{{ super() }}

{% endblock %} 

{% block content %}
{% set argname = request.args.name %}
{% set argstate = request.args.state %}

<div class="container mx-auto py-4">

  <!-- TITULO -->
  <div class="d-flex align-items-center mb-3">
    <a href="{{url_for('home.index')}}" class="text-muted p-1 mr-3" style="cursor: pointer">
      <i class="fas fa-arrow-left fa-lg"></i>
    </a>
    <h1 class="font-weight-bold">Recorridos de evacuación</h1>
  </div>

<!-- <div class="w-100 d-flex justify-content-between align-items-center"> -->
  <div class="w-100 row justify-content-center">
    <div class="col d-flex justify-content-sm-center justify-content-md-start mb-sm-3 mb-md-0">
      <a class="btn btn-primary button-gradient" role="button" href="{{url_for('evacuation_route.new')}}">Nuevo</a>
    </div>
    <div class="col-sm-12 col-md-6 d-flex justify-content-sm-center justify-content-md-end">
      <form method="GET" action="{{url_for('evacuation_route.index', page_number=evacuation_routes.page)}}" class="d-flex justify-content-end align-content-center">

        <input type="text" name="name" placeholder="Buscar por nombre..." class="mx-1 pl-2" 
        {% if argname %} 
          value="{{argname}}"
        {% endif %}>
        
        <select class="rounded-sm mx-1" name="state" aria-label="seleccionador estado">
          <option value="all" {{"selected" if argstate == "all"}}>Todos</option>
          <option value="publicated" {{"selected" if argstate == "publicated"}}>Publicado</option>
          <option value="despublicated" {{"selected" if argstate == "despublicated"}}>Despublicado</option>
        </select>
        <button class="btn btn-dark btn-sm" aria-label="button-search"><i class="fas fa-search fa-sm"></i></button>
      </form>
    </div>
  </div>
  <br>

  {% with messages = get_flashed_messages(category_filter=["evacuation_route_delete", "evacuation_route_update", "evacuation_route_show"]) %}
      {% for message in messages %}
          <p>{{message}}</p>
      {% endfor %}
  {% endwith %}
      
  <table class="table">
      <thead>
          <tr>
              <th scope="col" class="text-center">Nombre</th>
              <th scope="col" class="text-center">Estado</th>
              <th scope="col" class="text-center">Acciones</th>
          </tr>
      </thead>
      <tbody>
          {% for er in evacuation_routes.items %}
          <tr>
              <td class="text-center">{{er.name}}</td>
              <td class="text-center">{{translate_state(er.state)}}</td>
              <td class="text-center">
                  {% if helper_has_permission("evacuation_route_show") %}
                  <form action="{{url_for('evacuation_route.show')}}" method="post" class="d-inline">
                    <input name="id_evacuation_route" type="hidden" value="{{er.id}}">
                    <button type="submit" class="btn btn-primary button-gradient mx-1">Ver</button>
                  </form>
                  {% endif %}
                  {% if helper_has_permission("evacuation_route_edit") %}
                  <form action="{{url_for('evacuation_route.edit')}}" method="post" class="d-inline">
                    <input name="id_evacuation_route" type="hidden" value="{{er.id}}">
                    <button type="submit" class="btn btn-primary button-gradient mx-1">Editar</button>
                  </form>
                  {% endif %}
                  {% if helper_has_permission("evacuation_route_destroy") %}
                    <form action="{{url_for('evacuation_route.destroy')}}" method="post" class="d-inline">
                      <input name="id_evacuation_route" type="hidden" value="{{er.id}}">
                      <button type="submit" onclick="return confirm('¿Está seguro que desea borrar el recorrido de evacuación?')" class="btn btn-primary button-gradient mx-1">Eliminar</button>
                    </form>
                  {% endif %}
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  <nav aria-label="Evacuation routes page navigation">
      <ul class="pagination justify-content-center">
        {% if evacuation_routes.has_prev %}
          <li class="page-item">
            <a class="page-link" href="{{url_for('evacuation_route.index', page_number=evacuation_routes.prev_num)}}?{{request.query_string.decode()}}" tabindex="-1">Anterior</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Anterior</a>
          <li>
        {% endif %}
        {% for page in evacuation_routes.iter_pages() %}
          {% if page %}
            <li class="page-item"><a class="page-link" href="{{url_for('evacuation_route.index', page_number=page)}}?{{request.query_string.decode()}}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}
        {% if evacuation_routes.has_next %}
          <li class="page-item">
            <a class="page-link" href="{{url_for('evacuation_route.index', page_number=evacuation_routes.next_num)}}?{{request.query_string.decode()}}">Siguiente</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Siguiente</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    
</div>

{% endblock %}

{% block footer %} {{super()}} {% endblock %}