@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-5) !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

.button-gradient {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: linear-gradient(82.45deg, var(--color-2) -44.21%, var(--color-1) 94.15%) !important;
  box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.25) !important;
  border-radius: 6px !important;
  border: none !important;
  color: white !important;
}

/* CONTENT CENTER */
.content-center {
  flex: 1;
  display: flex;
  margin-top: 60px !important;
}

.no-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}
