{% extends "private_app_layout.html" %} {% block title %}InundaSafe | Configuración{% endblock %} {%
block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='config.css') }}" />
{% endblock %} {% block content %}

<div class="container mx-auto py-4">
  <!-- TITULO -->
  <div class="d-flex align-items-center">
    <a href="{{url_for('home')}}" class="text-muted p-1 mr-3" style="cursor: pointer">
      <i class="fas fa-arrow-left fa-lg"></i>
    </a>
    <h1 class="font-weight-bold">Configuración del Sistema</h1>
  </div>
  <!-- BODY CONFIG -->
  <form action="{{url_for('config_routes.update')}}" method="post" class="row mt-4">
    <!-- PARTE IZQ -->
    <div class="col mb-3 d-flex flex-column justify-content-between">
      <!-- LISTADOS -->
      <div>
        <div>
          <p class="font-weight-bold">Listados</p>
        </div>
        <div>
          <div class="d-flex justify-content-between align-items-center mt-3">
            <label class="m-0"> Cantidad de elementos por página </label>
            <select type="range" class="rounded-sm select" name="elements_quantity">
              {% for i in range(15,60) %} {% if i == config.elements_quantity %}
              <option value="{{i}}" selected>{{i}}</option>
              {% else %}
              <option value="{{i}}">{{i}}</option>
              {% endif %} {% endfor %}
            </select>
          </div>
          <div class="d-flex justify-content-between align-items-center mt-3">
            <label class="m-0"> Criterio de ordenación </label>
            <select type="range" class="rounded-sm" name="order_by">
              <option value="asc"  {% if  config.order_by == 'asc' %} 
              selected 
              {% endif %}
              >Ascendente</option>
              <option value="desc"  {% if config.order_by == 'desc' %} 
              selected 
              {% endif %}
              >Descendiente</option>
            </select>
          </div>
        <!-- 
          <div class="d-flex justify-content-between align-items-center mt-3">
            <label class="m-0"> Valores límites para alertas </label>
            <select type="range" class="rounded-sm" name="elements_quantity">
              {% for i in range(0,10) %}
              <option value="{{i}}">{{i}}</option>
              {% endfor %}
            </select>
          </div>
         -->
        </div>
      </div>
     <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary mt-4 mt-lg-0">Guardar cambios</button>
     </div>
    </div>

    <!-- PARTE DER -->
    <div class="col d-flex flex-column align-items-center">
      <!-- PALETA COLORES PRIV -->
      <div class="p-3 mb-4 card">
        <div class="d-flex flex-column align-items-center">
          <p class="mb-0">Paleta de colores</p>
          <p>(Aplicación pública)</p>
        </div>
        <div class="palettes">
          {% for color in colors %}
          <input type="radio" name="color_public" value="{{color.id}}" id="color_public_{{color.id}}" class="input-radio" {{"checked" if color.id == config.colors_id_public}} >
          <label for="color_public_{{color.id}}" class="palette-color">
            <div class="color" style="background-color: {{color.color_1}}"></div>
            <div class="color" style="background-color: {{color.color_2}}"></div>
            <div class="color" style="background-color: {{color.color_4}}"></div>
            <div class="color" style="background-color: {{color.color_3}}"></div>
            <div class="color" style="background-color: {{color.color_5}}"></div>
          </label>
          {% endfor %}
        </div>
      </div>
      <!-- PALETA COLORES PUBL -->
      <div class="p-3 card">
        <div class="d-flex flex-column align-items-center">
          <p class="mb-0">Paleta de colores</p>
          <p>(Aplicación privada)</p>
        </div>
         <div class="palettes">
          {% for color in colors %}
          <input type="radio" name="color_private" value="{{color.id}}" id="color_private_{{color.id}}" class="input-radio" {{"checked" if color.id == config.colors_id_private}} >
          <label for="color_private_{{color.id}}" class="palette-color">
            <div class="color" style="background-color: {{color.color_1}}"></div>
            <div class="color" style="background-color: {{color.color_2}}"></div>
            <div class="color" style="background-color: {{color.color_4}}"></div>
            <div class="color" style="background-color: {{color.color_3}}"></div>
            <div class="color" style="background-color: {{color.color_5}}"></div>
          </label>
          {% endfor %}
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
