{% extends "private_app_layout.html" %} 
{% block title %}InundaSafe | Home Privada{% endblock %} 
{% block head %} 
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
{% endblock head %}
{% block content %}
<div class=" m-auto pt-4 text-center home-content">
  <div>
    <h1 class="text-center">Aplicación Privada</h1>
    <p class="description">Bienvenido <strong>{{user.first_name}} {{user.last_name}}</strong></p>
    <p class="description">Sistema para la gestión y manejo de los datos de la aplicación</p>
  </div>
</div>
{% endblock %}
