<!DOCTYPE html>
<html lang="es">
  <head>
    {% set config_app = get_actual_config() %}
    
    {% block head %}
    <title>{% block title %}Inundasafe{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- FONTAWASOME -->
    <script src="https://kit.fontawesome.com/3f9cdd4385.js" crossorigin="anonymous"></script>

    <!-- ICONO DE LA APP -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-white.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />


    {% block styles %}
    {{ bootstrap.load_css() }}
    {% endblock %}

    <!-- COLORS APP -->
    <style>
      *{ 
        --color-1: {{config_app.colors_private.color_1}};
        --color-2: {{config_app.colors_private.color_2}};
        --color-3: {{config_app.colors_private.color_3}};
        --color-4: {{config_app.colors_private.color_4}};
        --color-5: {{config_app.colors_private.color_5}};
      }
    </style>

    
    {% endblock %}
  </head>
  <body>
    <div id="navbar">
      {% block navbar %}
      {% endblock %}
    </div>
    <div class="mt-5">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>

    {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
    {% endblock %}
  </body>
</html>