<!DOCTYPE html>
<html lang="es">
  <head>
    {% block head %}
    <title>{% block title %}Inundasafe{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-white.ico') }}">


    {% block styles %}
    {{ bootstrap.load_css() }}
    {% endblock %}
    
    {% endblock %}
  </head>
  <body>
    <div id="navbar">
      {% block navbar %}
      {% endblock %}
    </div>
    <div>
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>

    {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
    {% endblock %}
  </body>
</html>