{% set bp = request.blueprint %} {% set user = get_user_info() %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-gradient">
  <div>
    <a
      class="navbar-brand font-weight-bold d-flex align-items-center"
      href="{{url_for('home.index')}}"
    >
      <img
        src="{{ url_for('static', filename='favicon.ico') }}"
        alt="Logo de la aplicación"
        style="width: 32px; height: 32px; margin-right: 5px"
      />
      <span> InundaSafe </span>
    </a>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if helper_has_permission("usuario_index") %}
      <li class="nav-item {% if bp == 'user' %} active {% endif %}">
        <a class="nav-link" href="{{url_for('user.index', page_number=1)}}">Administrar usuarios</a>
      </li>
      {% endif %} {% if helper_has_permission("config_show") %}
      <li class="nav-item {% if bp == 'config_routes' %} active {% endif %}">
        <a class="nav-link" href="{{url_for('config_routes.index')}}">Configuración</a>
      </li>
      {% endif %} {% if helper_has_permission("punto_encuentro_index") %}
      <li class="nav-item {% if bp == 'meeting_point' %} active {% endif %}">
        <a class="nav-link" href="{{url_for('meeting_point.index', page_number=1)}}"
          >Puntos de encuentro</a
        >
      </li>
      {% endif %} {% if helper_has_permission("evacuation_route_index") %}
      <li class="nav-item {% if bp == 'evacuation_route' %} active {% endif %}">
        <a class="nav-link" href="{{url_for('evacuation_route.index', page_number=1)}}">Recorridos de evacuación</a>
      </li>
      {% endif %}
      {% if helper_has_permission("complaint_index") %}
      <li class="nav-item {% if bp == 'complaint' %} active {% endif %}">
        <a class="nav-link" href="{{url_for('complaint.index', page_number=1)}}">Denuncias</a>
      </li>
      {% endif %}
    </ul>
    <div class="btn-group">
      <button
        type="button"
        class="btn button-gradient dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fa fa-user pr-2"></i>{{user.first_name}} {{user.last_name}}
      </button>
      <div class="dropdown-menu dropdown-menu-lg-right">
        <a class="dropdown-item" href="{{url_for('user.edit_my_profile')}}">Mi Perfil</a>
        <a class="dropdown-item" href="{{url_for('auth_routes.auth_logout')}}">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</nav>
