{% extends "layout.html" %}

{% block head %}

{% block title %}
Private App
{% endblock %}

{% endblock %}

{% block navbar %}

<nav class="navegation-menu">
  <ul>
    <li><a href="#">Registrar administrador</a></li>                                   
    <li><a href="#">Configuración del sistema</a></li>                                 
    <li><a href="#">Administrar puntos de encuentro</a></li>                           
    <li><a href="#">Mi perfil</a></li>                                                 
    <li><a href="{{url_for('auth_logout')}}">Cerrar sesión</a></li>
  </ul>
</nav>


{% endblock %}

{% block content %}

Private App content

{% endblock %}

{% block footer %}

Private App footer

{% endblock %}