{% extends "layout.html" %}

{% block title %}
InundaSafe | Private App
{% endblock %}
{% block head %}
{{super()}}

{% endblock %}

{% block navbar %}

{% set bp = request.blueprint %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-gradient">
  <div>
    <a class="navbar-brand font-weight-bold d-flex align-items-center" href="{{url_for('home')}}">
      <img src="{{ url_for('static', filename='favicon.ico') }}" alt="Logo de la aplicación" style="width: 32px; height: 32px; margin-right: 5px;">
      <span>
        InundaSafe
      </span>
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if bp == 'user_index' %} active {% endif %} ">
          <a class="nav-link" href="{{url_for('user_index')}}">Administrar usuarios</a>
        </li>
        <!-- <li class="nav-item"> -->
          <li class="nav-item {% if bp == 'config_routes' %} active {% endif %} ">
            <a class="nav-link" href="{{url_for('config_routes.index')}}">Configuración</a>
          </li>
          <li class="nav-item {% if bp == 'meeting_point' %} active {% endif %} ">
            <a class="nav-link" href="{{url_for('meeting_point.index', page_number=1)}}">Puntos de encuentro</a>
        </li>
    </ul>
    <div class="btn-group">
      <button type="button" class="btn button-gradient dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Perfil
      </button>
      <div class="dropdown-menu dropdown-menu-lg-right">
        <button class="dropdown-item" type="button">Mi Perfil</button>
        <a class="dropdown-item" href="{{url_for('auth_logout')}}">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</nav>


{% endblock %}

{% block content %}

Private App content

{% endblock %}

{% block footer %}

Private App footer

{% endblock %}